* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


html,
body {
    max-width: 100%;
    overflow-x: hidden;
}



p {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    color:
        rgb(159, 163, 167);

    font-weight: 400;
}

h5 {
    font-family: "Montserrat", sans-serif;
    color:
        rgb(159, 163, 167);
}

h3 {
    font-family: "Arvo", serif;
    font-weight: 400;
    line-height: 32px;
    color:
        rgb(51, 51, 51);
    font-size: 22px;
}


a {
    font-family: "Open Sans", sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(6, auto);

    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "iphone iphone learn learn"
        "keyboard hardly hardly icloud"
        "keyboard hardly hardly icloud"
        "game tab tab icloud"
        "game tab tab icloud"
        "twitter better tv tv";



}





.iphone {
    grid-area: iphone;
    background-color: white;
}

.learn {
    grid-area: learn;
    background-color: #f7f8f9;
}

.keyboard {
    grid-area: keyboard;

    background-color: #f05638;
}

.hardly {
    grid-area: hardly;
    background-color: #ffffff;
}

.game {
    grid-area: game;
    background-color: #f7f8f9;
}

.tab {
    grid-area: tab;
    background-color: #93b6b7;

}

.twitter {
    grid-area: twitter;
    background-color: #38d5f4;
}

.better {
    grid-area: better;
    background-color: #f7f8f9;
}

.tv {
    grid-area: tv;
    background-color: #2c2c2c;
}

.icloud {
    grid-area: icloud;
    background-color: #8f76bc;
}



.container {
    width: 100%;
    height: 100%;
}




.iphone {
    box-sizing: border-box;


}

.iphone img {
    width: 300px;

}

.iphone {
    display: flex;
    justify-content: space-evenly;

}

.iphone .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 200px;

    gap: 20px;
}

.iphone .text h5 {
    letter-spacing: 2.4px;
}

.iphone .text p {
    line-height: 26px;
}

.learn {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;



}


.learn .text {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px;
}

.learn .text h3 {
    font-size: 48px;
    font-weight: 400;
    color: rgb(51, 51, 51);
    line-height: 60px;

}

.learn .text h5 {
    letter-spacing: 2.4px;
}

.learn .text a {
    color: rgb(39, 185, 194);
    font-weight: 400;
    font-size: 14px;
}

.keyboard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 50px 0;

}


.keyboard img {
    width: 300px;

}


.keyboard .text h3 {
    font-size: 22px;
    color: rgb(255, 251, 251);
    line-height: 32px;
    font-weight: 700;
}

.keyboard .text {
    max-width: 200px;
    text-align: center;
    gap: 20px;
    display: flex;
    flex-direction: column;
}

.keyboard .text a {
    color: rgb(255, 200, 10);
    text-decoration: none;
    text-transform: uppercase;
    line-height: 26px;
    letter-spacing: 2.4px;
    font-size: 12px;
    font-weight: 700;

}


.hardly {
    display: flex;
    justify-content: space-evenly;
    box-sizing: border-box;
    padding: 50px;

    
}



.hardly .sora {
    width: 70%;
}

.hardly .sora img {

    width: 100%;

}


.hardly .left {
    display: flex;
    flex-direction: column;

    align-items: flex-start;
    gap: 20px;
    max-width: 200px;


}


.hardly .left .text {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;

}

.hardly h5 {
    letter-spacing: 2.4px;
}

.hardly .right {
    display: flex;
    flex-direction: column;
    justify-content: start;
    max-width: 300px;
    gap: 20px;
}

.hardly .right p {
    line-height: 26px;
}

.hardly .right a {
    color:
        rgb(39, 185, 194);
    text-decoration: none;
    font-weight: 700;
    line-height: 26px;
    font-size: 12px;
    letter-spacing: 2.4px;
    text-transform: uppercase;
}

.icloud .soora img {
    width: 260px;
}

.icloud {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 100px 0;

}


.icloud .soora {
    text-align: center;
    background-color: #f05638;
    border-radius: 50%;
    width: 373px;
    height: 373px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #8166b0;
    gap: 10px;
}



.icloud .soora h3 {
    width: fit-content;
    background-color: #8b72b6;
    padding: 2px 8px;
    text-align: center;
    border-radius: 100vh;
    letter-spacing: 2px;
    font-weight: 700;
    font-size: 10px;
    color: #ffffff;
    line-height: 23px;

}

.icloud .soora .fa-flag {
    color: #ffc80a;
}

.icloud .soora h5 {
    color:
        rgb(255, 255, 255);
    font-weight: 700;
    line-height: 20px;
    size: 12px;
    letter-spacing: 2px;
}

.icloud .text h2 {
    color: rgb(255, 255, 255);
    font-weight: 700;
    line-height: 36px;
    font-size: 32px;
    font-family: "Arvo", serif;
}

.icloud .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 290px;

    text-align: center;
    gap: 20px;
}

.icloud .text p {
    color: rgb(255, 255, 255);
    line-height: 26px;
    font-size: 14px;
    font-weight: 400;
}

.icloud .text button {
    border-radius: 100vh;
    padding: 14px 28px;
    text-transform: uppercase;
    background-color: #ffc80a;
    font-weight: 700;
    font-size: 12px;
    border: none;
    letter-spacing: 2.4px;
    cursor: pointer;


}

.icloud .text button a {
    text-decoration: none;
    color: #000;
}

.game img {
    width: 200px;

}

.game {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px 0;

}

.game a {
    color:
        rgb(39, 185, 194);
    text-decoration: none;
    text-transform: uppercase;
    line-height: 26px;
    letter-spacing: 2.4px;
    font-size: 12px;
    font-weight: 700;

}


.twitter {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: auto;

}

.twitter .circle {
    border-radius: 50%;
    background-color: #35cfed;
    width: 240px;
    height: 240px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;


}


.twitter .circle h3 {
    max-width: 150px;
    color: rgb(255, 255, 255);
    line-height: 32px;
    font-weight: 400;
    font-size: 22px;
}


.twitter img {
    width: 40px;
}







.tab {
    display: flex;
    flex-direction: column;
    justify-content: end;
    position: relative;
    z-index: 10;

}




.tab .kk p {
    margin-left: 30px;
    width: fit-content;
    background-color: #fa684f;
    padding: 4px 8px;
    text-align: center;
    border-radius: 5px;
    letter-spacing: 2px;
    font-weight: 700;
    font-size: 8px;
    color: #ffffff;

}


.tab .ww {
    position: relative;
    display: flex;
    justify-content: center;

}

.tab .ww h3 {
    text-align: center;

    position: absolute;
    top: 28px;
    font-weight: bold;
    font-size: 22px;
    line-height: 32px;
    color: #ffffff;


}



.tab .hh {

    background-image: url(images/5bc2f42d5a5ed97dab707e7e_UX.png);
    background-size: 600px;


    background-repeat: no-repeat;
    background-position: center bottom;



    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;


}

.tab .hh img {
    width: 500px;

}






















.fa-chevron-right {
    font-size: 10px;

}

.better {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.better .text {
    max-width: 250px;
    text-align: center;
    font-weight: 100;
    font-size: 22px;
    line-height: 32px;
    color:
        rgb(51, 51, 51);
    line-height: 32px;
}


.better .text h3 {
    font-weight: 400;
}

.better .rect p {

    width: fit-content;
    background-color: #7bc424;
    padding: 4px 8px;
    text-align: center;
    border-radius: 5px;
    letter-spacing: 2px;
    font-weight: 700;
    font-size: 8px;
    color: #ffffff;

}





.tv {
    display: flex;
    justify-content: space-evenly;
    overflow-y: hidden;

}

.tv .aa {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    margin-right: 30px;
}

.tv .aa img {
    width: 250px;
    box-shadow: -5px 5px 50px #2c2c2c;


}


.tv .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 250px;

}


.tv .text h3 {
    font-size: 22px;
    list-style: 32px;
    font-weight: 400;
    color: #ffffff;

}











@media (max-width: 768px) {
    .container {
        width: 100%;
        height: auto;
        grid-template-columns: 1fr;
        grid-template-areas:
            "learn"
            "iphone"
            "keyboard"
            "game"
            "hardly"
            "twitter"
            "tab"
            "icloud"
            "better"
            "tv";
    }


    img {
        max-width: 100%;
        height: auto;
    }


    .iphone {
        flex-direction: column;
        align-items: center;
        padding: 30px 20px;
        gap: 30px;

    }

    .iphone .text {
        max-width: 100%;
        display: flex;
        justify-content: flex-start;

    }

    .iphone .mob {
        display: flex;
        flex-direction: column;
        justify-content: end;
        margin-right: 5%;
        align-items: end;

    }


    .learn {
        padding: 40px 20px;
    }

    .learn .text h3 {
        font-size: 28px;
        line-height: 38px;
        max-width: 270px;
    }



    .keyboard {
        padding: 30px 20px;
    }



    .game {
        padding: 40px 20px;
    }


    .hardly {
        flex-direction: column;
        align-items: center;
        padding: 30px 20px;
        gap: 20px;
    }

    .hardly .left,
    .hardly .right {
        max-width: 100%;

        align-items: center;

    }

    .hardly .left .sora {
        margin-left: 0;
        width: 70%;
    }

    .hardly .left .text h3 {
        width: 80%;
    }

    .hardly .left .text p {
        text-align: left;
    }

    .hardly .right {
        align-items: baseline;
    }

    
    .twitter {
        
        width: 100%;
    }


    

    .tab{
        padding: 30px 30px 0 30px;

    }


    
    .tab .hh{
        width: 100%;
        background-size: 500px;
        background-repeat: no-repeat;
        background-position: center bottom;
        
    }


    
    .icloud {
        
        gap: 30px;
    }

    .icloud .soora {
        width: 95%;
    }

    
    .better {
        padding: 40px 20px;
    }

    
    .tv {
        flex-direction: column;
        align-items: center;
      padding: 0 30px 30px 30px;
        gap: 10px;
        width: 100%;
    }

    .tv .aa {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 25%;
    }

    .tv .text{
        max-width: 300px;
        text-align: center;
    }
}
